<app-navbar></app-navbar>
<div class="div_content_center">
    <h2>Edit User Information</h2>
    <form action="" [formGroup]="editUserForm" (ngSubmit)="updateUser()">
        <div class="div_content_center">
            <br>
            <div class="row mb_div">
                <div class="col-md-3"></div>
                <div class="col-md-3 form_lbl">
                    <label>Full Name</label>
                </div>
                <div class="col-md-3">
                    <input type="text" formControlName="fullName" class="inp_styles form-control"
                        placeholder="Full Name (required)"
                        [ngClass]="{'is-invalid': (editUserForm.get('fullName')?.touched || editUserForm.get('fullName')?.dirty) && !editUserForm.get('fullName')?.valid}">
                    <span class="invalid-feedback">
                        <span *ngIf="editUserForm.get('fullName')?.errors?.['required']">Full Name can't be
                            blank.</span>
                    </span>
                </div>
                <div class="col-md-3"></div>
            </div>
            <div class="row mb_div">
                <div class="col-md-3"></div>
                <div class="col-md-3 form_lbl">
                    <label>Email</label>
                </div>
                <div class="col-md-3">
                    <input type="text" formControlName="Email" class="inp_styles form-control"
                        placeholder="Email (required)"
                        [ngClass]="{'is-invalid': (editUserForm.get('Email')?.touched || editUserForm.get('Email')?.dirty) && !editUserForm.get('Email')?.valid}">
                    <span class="invalid-feedback">
                        <span *ngIf="editUserForm.get('Email')?.errors?.['required']">Email can't be blank.</span>
                    </span>
                </div>
                <div class="col-md-3"></div>
            </div>
            <input type="submit" value="Update" class="std_btn" [disabled]="!editUserForm.valid">
        </div>
    </form>
</div>